<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="com.google.android.c2dm.permisstion.RECIEVE" />

    <uses-feature android:name="android.hardware.camera" />

    <application
        android:name=".DailySmartApp"
        android:allowBackup="false"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/ic_application"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_application"
        android:supportsRtl="true"
        android:theme="@style/Base.AppTheme"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">

        <activity
            android:name=".view.detailinvoice.DetailInvoiceActivity"
            android:exported="false" />
        <activity
            android:name=".view.splash.SplashActivity"
            android:exported="true"
            android:theme="@style/Base.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".view.staff.details.DetailsStaffActivity"
            android:exported="false" /> <!-- activity -->
        <activity
            android:name=".view.on_boarding.OnBoardingActivity"
            android:exported="false" />
        <activity
            android:name=".view.register.RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".view.login.LoginActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".view.main.MainActivity"
            android:exported="false"
            android:launchMode="singleInstance" />
        <activity
            android:name=".view.forget_password.ForgetPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".view.task.TaskActivity"
            android:exported="true" />
        <activity
            android:name=".view.reset_password.ResetPasswordActivity"
            android:exported="true" />
        <activity
            android:name=".view.check_date.CheckDateActivity"
            android:exported="false" />
        <activity
            android:name=".view.order.OrderActivity"
            android:exported="false" />
        <activity
            android:name=".view.report.ReportActivity"
            android:exported="false" />
        <activity
            android:name=".view.stock.StockActivity"
            android:exported="false" />
        <activity
            android:name=".view.work_sheet.WorkSheetActivity"
            android:exported="false" />
        <activity
            android:name=".view.category.CategoryActivity"
            android:exported="true" />
        <activity android:name=".view.task.add_new.AddTaskActivity" />
        <activity
            android:name=".view.pay.AddInvoiceExportActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".view.payment.PaymentActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".view.supplier.SupplierActivity" />
        <activity android:name=".view.products.ProductsActivity" />
        <activity android:name=".view.change_password.ChangePasswordActivity" />
        <activity android:name=".view.staff.StaffActivity" />
        <activity android:name=".view.add_staff.AddStaffActivity" />
        <activity android:name=".view.profile.ProfileActivity" />
        <activity android:name=".view.task.task_detail.TaskDetailActivity" />
        <activity android:name=".view.task.task_edit.TaskEditActivity" />
        <activity android:name=".view.products.detail_product.ProductDetailActivity" />
        <activity android:name=".view.products.edit_product.ProductEditActivity" />
        <activity android:name=".view.work_sheet.edit_work_sheet.EditWorkSheetActivity" />
        <activity android:name=".view.bank_info.BankInfoActivity" />
        <activity
            android:name=".view.getinvoice.GetInvoiceActivity"
            android:exported="false" />
        <activity
            android:name=".view.message.MessageActivity"
            android:theme="@style/Base.AppChatTheme" />
        <activity android:name=".view.products.add_product.AddProductActivity" /> <!-- activity -->
        <!-- service -->
        <service
            android:name=".service.FirebaseMessageService"
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
                <action android:name="com.goole.android.c2dm.intent.RECEIVE" />
            </intent-filter>
        </service>
    </application>

</manifest>